@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-main-light: #ffa53e;
    --color-main-medium: #F98600;
    --color-main-dark: #b86200;
}

[data-theme="Light"] {
    --secondary-color: #212121;
    --main-color: #FAFAFA;
}

[data-theme="Dark"] {
    --secondary-color: #FAFAFA;
    --main-color: #212121;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 2.6em;
    /* padding-bottom: 3.6em; */

    background-color: var(--main-color);
    color: var(--secondary-color);
}

header {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    padding-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 48px;
    height: 70px;
    margin-bottom: 0.2em;
    font-weight: 700;
}

h2 {
    font-size: 6em;
}

h3 {
    font-size: 3em;
    font-style: italic;
}

h4 {
    font-size: 3em;
}

h5 {
    font-size: 1em;
}

a {
    font-weight: normal;
    text-decoration: none;
    color: inherit;
}


footer {
    /* margin-top: 5em;
    height: 10em; */
}

/* LAYOUT CLASSES */
.container {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1500px) {
    .container {
        max-width: 80%;
    }
}

.display-flex {
    display: flex;
}

.display-inline-flex {
    display: inline-flex;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.flex-stretch {
    flex: 1 1 auto;
}

.flex-column {
    flex-direction: column;
}

.flex-none {
    flex: none;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
    align-items: space-between;
}

.flex-start {
    align-items: start;
}

.flex-end {
    align-items: flex-end;
    justify-content: flex-end;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

/* COMPONENT CLASSES */
.hidden {
    display: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2em;
    position: relative;
}

.nav li {
    display: block;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

.nav #main-marker,
.nav #portfolio-marker {
    position: absolute;
    height: 2px;
    left: 0;
    width: 100%;
    background-color: var(--color-main-medium);
    bottom: -2px;
    transition: .5s;
    border-radius: 4px;
}

.filter-trigger {

    color: var(--secondary-color);

    &.active {
        color: var(--color-main-medium);
    }

    &:hover {
        cursor: pointer;
    }
}

.nav-flex ul {
    display: flex;
    padding-inline-start: 0;
}

/* THEME COLOR CONTAINER  */
#theme-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;

    --box-shadow: rgba(250, 250, 250, 0.3);

    box-shadow: 0px 0px 10px 0 var(--box-shadow);

    display: flex;
    align-items: center;
    justify-content: center;
}

#theme-container:hover {
    box-shadow: 0px 0px 20px 0 var(--box-shadow);
}

/* START CLASSES  */
.start {
    height: 90vh;
    padding: 8em;
}

.line {
    flex: 3;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--color-main-medium);
    position: relative;
    padding-left: 2em;
}

.bullet {
    position: absolute;
    background-color: var(--main-color);
    border: 2px solid var(--color-main-medium);
    border-radius: 50%;
    content: "";
    height: 10px;
    left: -6px;
    top: -8px;
    width: 10px;
    z-index: 1;
}

.scroll {
    bottom: 25%;
    position: absolute;
    padding: 4px;
    transform: translate(-56px, 0) rotate(-90deg);
    z-index: 1;
    background-color: var(--main-color);
}

.start-text {
    margin-top: 7em;
}

.name {
    color: var(--color-main-medium);
}

.design {
    font-family: serif;
}

.develop {
    font-family: 'Courier New', Courier, monospace;
}

.static-text {
    display: inline-flex;
    align-items: baseline;
}

.dynamic-text {
    margin: 0;
    margin-left: 15px;
    padding-left: 0;
    height: 70px;
    line-height: 70px;
    width: 300px;
}

.dynamic-text li {
    list-style: none;
    position: relative;
    top: 0;
}

.dynamic-text li span {
    position: relative;
}

.typing::after,
.untyping::after {
    content: "";
    position: absolute;
    left: 0;
    height: 120%;
    width: 100%;
    background-color: var(--main-color);
    border-left: 2px solid var(--secondary-color);
}

.typing::after {
    animation: typing 1.5s steps(10) forwards;
}

.untyping::after {
    animation: untyping 1.5s steps(10) forwards;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -26px 0 26px;
    }
}

@keyframes untyping {
    0% {
        left: 100%;
        margin: 0 -26px 0 26px;
    }

    100% {
        left: 0;
        margin: 0;
    }
}

/* PORTFOLIO CLASSES  */
.title {
    height: 10em;
    margin-bottom: 3em;
    width: 620px;
}

.portfolio-nav {
    border-bottom: 2px solid var(--secondary-color);
}

.portfolio {
    padding: 4em 0;
    position: relative;
    border-bottom: 2px solid var(--secondary-color);

    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
    transition: all ease-in 0.3s;

    &.hide {
        opacity: 0;
        max-height: 0;
        padding: 0;
        transition: all ease-out 0.3s;
    }
}

.portfolio-img {
    width: 600px;
    max-height: 100%;

    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, .4);
    transform: scale(1);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio-img:hover {
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .2);
    transform: scale(1.05);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.porftolio-img:hover~.portfolio-title h4 {
    color: red;
}

.portfolio-info {
    height: 100%;
    justify-content: space-between;
}

.portfolio-title {
    position: absolute;
    z-index: 100;
    top: 42%;
}

/* PROJECT CLASSES  */
.project {
    height: 100%;
    padding: 20px;
}

.back-button {
    font-size: 3em;
}

.project-left {
    height: 100%;
    flex: 1;
    justify-content: end;
}

.project-info {
    margin-right: 3em;
    width: 75%;
}

.project-title {
    margin-bottom: 1em;
    padding-bottom: 0.5em;

    font-size: 2em;
    font-weight: bold;

    border-bottom: 2px solid var(--color-main-medium);

    justify-content: space-between;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

i {
    cursor: pointer;

    &:hover {
        color: var(--color-main-medium);
    }

    &:active {
        color: var(--color-main-dark);
    }
}

.project-data {
    margin-bottom: 1em;
}

.project-data>div {
    margin-bottom: 1em;
}

.project-text {
    margin-top: 2em;
}

.project-text p {
    margin-top: 10px;
}

.project-carrousel {
    cursor: crosshair;
    flex: 1;
    align-items: flex-start;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 100%;
}

.project-carrousel::-webkit-scrollbar {
    width: 0;
}

.project-carrousel::-webkit-scrollbar-thumb {
    background-color: #888;
}

.project-img {
    padding: 2em;
    padding-bottom: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}


iframe {
    width: 100%;
}

/* ABOUT CLASSES */
.about {
    height: 2000px;
    margin: 3em 10em;
}

.profile-title {
    border-bottom: 2px solid var(--secondary-color);
    padding: 10px 0;
    margin-bottom: 2em;

    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-info {
    margin-right: 40px;
}

.personal-data ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.personal-data li {
    margin-top: 10px;
}

.divider {
    width: 50px;
    border-bottom: 2px solid var(--secondary-color);
    margin: 10px;
}

.profile-pic {
    height: 600px;
    width: 100%;
    background-image: url("../img/profile.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about section {
    margin-bottom: 40px;
}

.my-skills,
.education {
    margin-right: 0;
    margin-left: 10%;
}

.icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #d8d8d8;
    height: 100%;
    transition: ease-in-out 0.3s;
}

.icon-box img {
    height: 30px;
    width: auto;
    padding-right: 15px;
}

.education-box {
    background-color: #d8d8d8;
    padding: 20px;
    height: 100%;
}

.education-box p {
    line-height: 1.6;
}