@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-neutral-light: #ebebeb;
    --color-neutral-medium: #c0c0c0;
    --color-neutral-dark: #555;

    --color-main-light: ;
    --color-main-medium: ;
    --color-main-dark: ;

    --color-black: #000;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-neutral-light);
    color: var(--color-black);
    padding: 2.6em;
    padding-bottom: 3.6em;
}

header {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    padding-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 48px;
    height: 70px;
    margin-bottom: 0.2em;
    font-weight: 700;
}

h2 {
    font-size: 6em;
}

h3 {
    font-size: 3em;
    font-style: italic;
}

h4 {
    font-size: 3em;
}

h5 {
    font-size: 1em;
}

a {
    font-weight: normal;
    text-decoration: none;
    color: inherit;
}


footer {
    /* margin-top: 5em;
    height: 10em; */
}

/* LAYOUT CLASSES */
.container {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1500px) {
    .container {
        max-width: 80%;
    }
}

.display-flex {
    display: flex;
}

.display-inline-flex {
    display: inline-flex;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.flex-stretch {
    flex: 1 1 auto;
}

.flex-column {
    flex-direction: column;
}

.flex-none {
    flex: none;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
    align-items: space-between;
}

.flex-start {
    align-items: start;
}

.flex-end {
    align-items: flex-end;
    justify-content: flex-end;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

/* COMPONENT CLASSES */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2em;
}

.nav li {
    display: block;
    padding: 0.2em 0.5em;
}

.filter-trigger {

    color: var(--color-neutral-dark);

    &.active {
        color: var(--color-black);
    }

    &:hover {
        cursor: pointer;
    }
}

/* .nav a.active-link {
    color: var(--color-black);
} */

.nav-flex ul {
    display: flex;
    padding-inline-start: 0;
}

/* START CLASSES  */
.start {
    height: 90vh;
    padding: 8em;
}

.line {
    flex: 3;
    height: 100%;
    width: 100%;
    border-left: 2px solid black;
    position: relative;
    padding-left: 2em;
}

.bullet {
    position: absolute;
    background-color: var(--color-neutral-light);
    border: 2px solid black;
    border-radius: 50%;
    content: "";
    height: 10px;
    left: -6px;
    top: -8px;
    width: 10px;
    z-index: -1;
}

.scroll {
    bottom: 25%;
    position: absolute;
    padding: 4px;
    transform: translate(-56px, 0) rotate(-90deg);
    z-index: 1;
    background-color: var(--color-neutral-light);
}

.joan {
    margin-top: 7em;
}

.name {
    color: dimgray;
}

.design {
    font-family: serif;
}

.develop {
    font-family: 'Courier New', Courier, monospace;
}

.static-text {
    display: inline-flex;
    align-items: baseline;
}

.dynamic-text {
    margin: 0;
    margin-left: 15px;
    padding-left: 0;
    height: 70px;
    line-height: 70px;
    width: 300px;
}

.dynamic-text li {
    list-style: none;
    position: relative;
    top: 0;
}

.dynamic-text li span {
    position: relative;
}

.typing::after,
.untyping::after {
    content: "";
    position: absolute;
    left: 0;
    height: 120%;
    width: 100%;
    background-color: var(--color-neutral-light);
    border-left: 2px solid var(--color-black);
}

.typing::after {
    animation: typing 1.5s steps(10) forwards;
}

.untyping::after {
    animation: untyping 1.5s steps(10) forwards;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -26px 0 26px;
    }
}

@keyframes untyping {
    0% {
        left: 100%;
        margin: 0 -26px 0 26px;
    }

    100% {
        left: 0;
        margin: 0;
    }
}

/* PORTFOLIO CLASSES  */
.title {
    height: 10em;
    margin-bottom: 3em;
    width: 620px;
}

.portfolio-nav {
    border-bottom: 2px solid black;
}

.portfolio {
    padding: 4em 0;
    position: relative;
    border-bottom: 2px solid black;

    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
    transition: all ease-in 0.3s;

    &.hide {
        opacity: 0;
        max-height: 0;
        padding: 0;
        transition: all ease-out 0.3s;
    }
}

.portfolio-img {
    width: 600px;
    max-height: 100%;
}

.portfolio-info {
    height: 100%;
    justify-content: space-between;
}

.portfolio-title {
    position: absolute;
    top: 42%;
}

/* PROJECT CLASSES  */
.project {
    height: 100%;
}

.back-button {
    font-size: 3em;
}

.project-left {
    height: 90%;
    flex: 1;
    justify-content: end;
}

.project-info {
    margin-right: 3em;
    width: 75%;
}

.project-title {
    margin-bottom: 1em;
    padding-bottom: 0.5em;

    font-size: 2em;
    font-weight: bold;

    border-bottom: 2px solid black;

    justify-content: space-between;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

i {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
        /*!! must-change !!*/
    }
}

.project-data {
    margin-bottom: 1em;
}

.project-data>div {
    margin-bottom: 1em;
}

.project-text {
    margin-top: 2em;
}

.project-carrousel {
    flex: 1;
    align-items: flex-start;
    overflow-y: auto;
    scrollbar-width: thin;
}

.project-carrousel::-webkit-scrollbar {
    width: 0;
}

.project-carrousel::-webkit-scrollbar-thumb {
    background-color: #888;
}

.project-img {
    padding: 2em;
    padding-bottom: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.project-img:first-child {
    padding-top: .8em;
}

.project-img:last-child {
    padding-bottom: 2em;
}

/* ABOUT CLASSES */
.about {
    /* height: 200%; */
    margin: 3em 10em;
}

.profile-title {
    border-bottom: 2px solid black;
    padding: 1em 0;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-text {
    margin-bottom: 2em;
}

.profile-info {
    margin-right: 40px;
}

.personal-data ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.personal-data li {
    margin-top: 10px;
}

.divider {
    width: 50px;
    border-bottom: 2px solid black;
    margin: 10px;
}

.profile-pic {
    height: 600px;
    width: 100%;
    background-image: url("../img/profile.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}